page-home-landing {
    .scroll-content {
        background: url(../assets/imgs/login-bg.jpg);
        background-size: cover;
        background-position: top;
    }
    .toolbar-background {
        background: #181818 !important;
        
    }
}
