page-detail{
    
    .content{
        margin:5px;
        font-size:14px;

    }
    .title{
      
        font-weight: bold;
        font-size:14px;
        height: 40px;
        width: 100%;
        text-align: center;
    }
}